{% extends "clients/client_base.html" %}

{% block pre_client %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Client Management
			<a href="{# % url 'posts:for_user' username=user.username % #}">Create</a>
		</h2>

    {% endif %}
			<h2>Clients</h2>

			<p>Welcome to the Client Management Page! <br>Select a Client to manage</p>
	</div>
	{% if user.is_authenticated %}
	<a href="{# % url 'groups:create' % #}" class="btn btn-warning" role="button"><span class="fa fa-plus"></span> Create New Client!</a>
	{% endif %}
</div>
{% endblock %}


{% block client_content %}
<div class="col-md-8">
 <div class="container">
  <section id="data-list-view" class="data-list-view-header">
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="table-responsive">
      <table class="table data-list-view">
             <thead>
               <tr>
                 <th></th>
                 <th>NAME</th>
                 <th>EMAIL</th>
                 <th>MOBILE</th>
                 <th>ADDRESS</th>
                 <th>ROLE</th>
                 <th>ACTION</th>
               </tr>
             </thead>
             <tbody>
               {% for client in client_list %}
               <tr>
                 <td></td>
                 <td class="product-name">{{client.name}}</td>
                 <td class="product-category">{{client.email}}</td>
                 <td class="product-category">{{client.mobile}}</td>
                 <td class="product-category">{{client.address}}</td>
                 <td>
              <div class="chip chip-success">
                <div class="chip-body">
                  <div class="chip-text">{{client.role}}</div>
                </div>
              </div>
            </td>
               </tr>
               {% endfor %}
            </tbody>
          </table>
        </div>
</section>

    <a href="{% url 'clients:creatcl' %}" class="btn btn-warning" role="button"><span class="fa fa-plus"></span> Create Client</a>

</div>
</div>
{% endblock %}
